%h1 List Of Restaurants
%h3 List of food category
=select(@restaurants , "List of food category") do
  = content_tag(:option, "List of food category")
  - @restaurants.each do |c|
    = content_tag(:option, c.food_style, value: c.id)
%ul
  - @restaurants.each do |restaurant|
    %li
      = link_to restaurant.name, restaurant_path(restaurant)
      %br/
