%h1 List Of Restaurants
%h3 List of food category
= form_for :controller=>'index', :action=>'create' do |f|
  =select('post', "index_index_path", @restaurants.distinct.pluck(:food_style) {|p| [ p.id , p.food_style ] }, {prompt: 'List of food category'},{:onchange => 'submit()'})
%ul
  - @restaurants.each do |restaurant|
    %li
      = link_to restaurant.name, restaurant_path(restaurant)
      %br/
