%h1 List Of Restaurants
%h3 List of food category
=select("post", "index_index_path", @restaurants.distinct.pluck(:food_style) {|p| [ p.food_style, p.food_style ] }, {prompt: 'List of food category'})
%ul
  - @restaurants.each do |restaurant|
    %li
      = link_to restaurant.name, restaurant_path(restaurant)
      %br/
